<form method="post" action="{{ path('sujet_delete', {'id': sujet.id}) }}" onsubmit="return confirm('Vous voulez vraiment supprimer ce sujet?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sujet.id) }}">
    <button class="btn btn-danger">Supprimer le sujet</button>
</form>
