<!DOCTYPE html>

{% block import_css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/sujet">Forum <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="/admin/dashboard/" class="nav-link">Dashboard</a>
            {% endif %}
        </li>
      </ul>
      <ul class="navbar-nav mr-1">
        <li class="nav-item active">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="/login" class="nav-link">Se connecter</a>
            {% else %}
            <a href="/register" class="nav-link">Créer un compte</a>
            {% endif %}
        </li>
      </ul>
    </div>
</nav>

<title>Créer un Sujet</title>

{% block body %}
    <h1>Créer un nouveau Sujet :</h1>

    {{ include('sujet/_form.html.twig') }}

    <a href="{{ path('sujet_index') }}">Retour à la liste des sujets</a>
{% endblock %}
